@page "/calculadora"
@inject HttpClient Http

@using CalculadoraFatorial.Client.Componentes

@inject NavigationManager navigationManager;


<h1>Calculadora fatorial</h1>

<CalculadoraFatorialComponent> </CalculadoraFatorialComponent>


